<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Slope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Slope.Properties.Settings>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="Units" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="ShowMinor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMajor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GAPopulation" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GAGenerations" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GAFittest" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="GAMating" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GACrossover" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="GAMutation" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="GASlice" serializeAs="String">
                <value>10</value>
            </setting>
        </Slope.Properties.Settings>
    </userSettings>
</configuration>
