<?xml version="1.0"?>

<!--
 /************************************************************************
 * PROJECT:     SlopeFEA (c) 2011 Brandon Karchewski
 *              Licensed under the Academic Free License version 3.0
 *                  http://www.opensource.org/licenses/afl-3.0.php
 * 
 * CONTACT:     Brandon Karchewski
 *              Department of Civil Engineering
 *              McMaster University, JHE-301
 *              1280 Main St W
 *              Hamilton, Ontario, Canada
 *              L8S 4L7
 *              p: 905-525-9140 x24287
 *              f: 905-529-9688
 *              e: karcheba@mcmaster.ca
 *              
 * 
 * SOURCE INFORMATION:
 * 
 * The repository for this software project is hosted on git at:
 *      
 *      git://github.com/karcheba/SlopeFEA
 *      
 * As such, the code for the project is free and open source.
 * The relevant license is AFLv3 (see link above). See the
 * README file in the root directory of the repository for a
 * detailed project description, acknowledgements, references,
 * and the revision history.
 ************************************************************************/
-->

<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Slope.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Slope.Properties.Settings>
            <setting name="Nickname" serializeAs="String">
                <value />
            </setting>
            <setting name="Units" serializeAs="String">
                <value>m</value>
            </setting>
            <setting name="ShowMinor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMajor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GAPopulation" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="GAGenerations" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GAFittest" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="GAMating" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GACrossover" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="GAMutation" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="GASlice" serializeAs="String">
                <value>10</value>
            </setting>
        </Slope.Properties.Settings>
    </userSettings>
</configuration>
